h1 {
  /*font-family: var(--font-primary);*/
  font-weight: 700;
}

h2, h3 {
  --line-height: 1.3;
  line-height: var(--line-height);
  font-weight: 600;
}

@media screen and (min-width: 48rem) {
  body {
    font-size: var(--font-size-largish);
    --line-height: 1.45;
    line-height: var(--line-height);
  }
  h2, h3 {
    --line-height: 1.4;
    line-height: var(--line-height);
  }
}


.field--name-localgov-text h2,
.field--name-localgov-text h3,
.field--name-localgov-text h4,
.field--name-localgov-text h5,
.field--name-localgov-text h6 {
  margin-top: 1.75rem;
}

blockquote {
  margin-top: var(--spacing-largest);
  margin-bottom: var(--spacing-largest);
}

table {
  width: 100%;
  text-align: left;
  border: var(--table-border);
}

thead th {
  padding: var(--table-padding);
  background-color: var(--table-bg-color);
}

tbody td {
  padding: var(--table-padding);
  border-bottom: var(--table-border);
}

tbody tr {
  border-bottom: var(--table-border);
}

a {
  text-underline-offset: 2px;
}

a.button-style-link,
.button-style-link a{
  background-color: var(--button-bg-color);
  color: var(--color-black);
  border-radius: 2rem;
  padding: clamp(10px, 2vw, 1rem) clamp(20px, 2vw, 2.5rem);
  font-size: clamp( 1rem, 2vw, var(--font-size-medium));
  text-decoration: none;
  display: inline-block;
  margin-bottom: var(--flow-space);
  font-weight: 700;
}

a.button-style-link:hover,
.button-style-link a:hover {
  background-color: var(--button-bg-color-hover);
}
