/*
  @file Utility classes to drop into templates.
*/

/*
  The main container class that defines how wide our content area is
*/

/* objects > flow */
.l-flow > * + * {
  margin-top: var(--flow-space, var(--spacing-small));
}

.l-box {
  padding: var(--box-space);
}

.l-slat {
  margin-top: var(--slat-gap);
  margin-bottom: var(--slat-gap);
}


.lgd-container,
.lgd-region__inner--banner,
.lgd-region--banner .lgd-region__inner {
  max-width: 90vw;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 48rem) {
  .lgd-container,
  .lgd-region__inner--banner,
  .lgd-region--banner .lgd-region__inner {
    max-width: calc(100vw - 100px);
  }
}

@media screen and (min-width: 102.5rem) {
  header .lgd-container {
    max-width: var(--width-container);
    padding-left: 0;
    padding-right: 0;
  }
  .lgd-container {
    max-width: var(--width-small-container);
    padding-left: 0;
    padding-right: 0;
  }
  .lgd-region--banner .lgd-region__inner,
  .lgd-region__inner--banner {
    max-width: var(--width-medium-container);
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 102.5rem) {
  /*.lgd-region--content .lgd-container {
    max-width: 100%;
  }*/
  .lgd-page-section--contained-breakout {
    max-width: var(--width-medium-container);
    margin-left: auto;
    margin-right: auto;
  }
  .lgd-container.lgd-page-section--contained-content {
    max-width: var(--width-small-container);
  }
}

.padding-horizontal {
  padding-right: var(--spacing-padding-horizontal);
  padding-left: var(--spacing-padding-horizontal);
}

.layout__region > * {
  margin-bottom: var(--vertical-rhythm-spacing);
}

.special--homepage {
  background: rgb(255,225,70);
  background: linear-gradient(180deg, #FFED90 0%, #FFB4A1 100%);
  text-align: center;
  padding-top: 3rem;
}

.lgd-region--content-bottom .lgd-container {
  padding: 0 !important;
  max-width: 100vw !important;
}

.lgd-region--content-bottom .field--name-field-content {
  width: 90%;
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}

.lgd-region--content-bottom .field--name-field-content > * {
  margin-left: var(--spacing-small);
  margin-right: var(--spacing-small);
  margin-bottom: var(--spacing);
}
.lgd-region--content-bottom .field--name-body {
  margin-bottom: 4rem;
  width: 90%;
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}
.lgd-region--content-bottom .field--name-body h2{
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--font-primary);
  margin-bottom: 2rem;
}

@media screen and (min-width: 48rem) {
  .lgd-region--content-bottom .field--name-field-content {
    display: flex;
    width: 54.5rem;
    max-width: 75%;
    justify-content: space-around;
  }
  .lgd-region--content-bottom .field--name-body {
    width: 49.5rem;
    max-width: 75%;
  }
  .lgd-region--content-bottom .field--name-field-content > * {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 70rem) {
  /*.lgd-region--breadcrumb > .lgd-container,
  #main-content .lgd-container {
    padding-left: 70px;
    padding-right: 70px;
  }*/
  .path-frontpage #main-content .lgd-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.layout {
  gap: var(--spacing-larger);
}

@media screen and (min-width: 40rem) {
.layout--threecol-33-34-33 > .layout__region--first,
.layout--threecol-33-34-33 > .layout__region--second,
.layout--threecol-33-34-33 > .layout__region--third {
    flex: 1 1 calc(calc(100% / 3) - var(--spacing-larger) * 3);
  }
}

@media screen and (min-width: 40rem) {
.layout--twocol > .layout__region--first,
.layout--twocol > .layout__region--second {
    flex: 1 1 calc(50% - var(--spacing-larger) * 2);
  }
}


.node--type-localgov-directories-org.node--view-mode-banner {
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 40rem) {
  .node--type-localgov-directories-org.node--view-mode-banner > * {
    max-width: 50%;
  }
}

.layout__region > * {
  margin-bottom: 0;
}

.layout__region > * + *{
  margin-bottom: var(--vertical-rhythm-spacing);
}
