/*
  @file Utility classes to drop into templates.
*/

/*
  The main container class that defines how wide our content area is
*/
.lgd-container,
.lgd-region__inner--banner,
.lgd-region--banner .lgd-region__inner {
  max-width: 90vw;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 48rem) {
  .lgd-container,
  .lgd-region__inner--banner,
  .lgd-region--banner .lgd-region__inner {
    max-width: calc(100vw - 100px);
  }
}

@media screen and (min-width: 90rem) {
  .lgd-container,
  .lgd-region__inner--banner,
  .lgd-region--banner .lgd-region__inner {
    max-width: var(--width-container);
    padding-left: 0;
    padding-right: 0;
  }
}

.padding-horizontal {
  padding-right: var(--spacing-padding-horizontal);
  padding-left: var(--spacing-padding-horizontal);
}

.layout__region > * {
  margin-bottom: var(--vertical-rhythm-spacing);
}

.special--homepage {
  background: rgb(255,225,70);
  background: linear-gradient(180deg, rgba(255,225,70,0.8) 0%, rgba(255,130,98,0.8) 100%);
  text-align: center;
  padding-top: 3rem;
}

.lgd-region--content-bottom .lgd-container {
  padding: 0 !important;
  max-width: 100vw !important;
  /* margin-top: var(--spacing); */
}

.lgd-region--content-bottom .field--name-field-content {
  width: 90%;
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}

.lgd-region--content-bottom .field--name-field-content > * {
  margin-left: var(--spacing-small);
  margin-right: var(--spacing-small);
  margin-bottom: var(--spacing);
}
.lgd-region--content-bottom .field--name-body {
  margin-bottom: 4rem;
  width: 90%;
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}
.lgd-region--content-bottom .field--name-body h2{
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--font-primary);
  margin-bottom: 2rem;
}

@media screen and (min-width: 48rem) {
  .lgd-region--content-bottom .field--name-field-content {
    display: flex;
    width: 54.5rem;
    max-width: 75%;
    justify-content: space-around;
  }
  .lgd-region--content-bottom .field--name-body {
    width: 49.5rem;
    max-width: 75%;
  }
  .lgd-region--content-bottom .field--name-field-content > * {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 70rem) {
  .lgd-region--breadcrumb > .lgd-container,
  #main-content > .lgd-container {
    padding-left: 70px;
    padding-right: 70px;
  }
  .path-frontpage #main-content > .lgd-container {
    padding-left: 0;
    padding-right: 0;
  }
}
