/*
  @file Utility classes to drop into templates.
*/

/*
  The main container class that defines how wide our content area is
*/
.lgd-container,
.lgd-region__inner--banner {
  /* width: calc(100vw - 100px); */
  max-width: var(--width-container);
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.padding-horizontal {
  padding-right: var(--spacing-padding-horizontal);
  padding-left: var(--spacing-padding-horizontal);
}

.layout__region > * {
  margin-bottom: var(--vertical-rhythm-spacing);
}

@media screen and (min-width: 70rem) {
  .lgd-row {
    display: flex;
    flex-wrap: wrap;
  }

  .lgd-row > * {
    margin-right: calc(var(--spacing) / 2);
    margin-left: calc(var(--spacing) / 2);
  }
  .lgd-row > .lgd-row__full {
    margin-right: 0;
    margin-left: calc(var(--spacing) / 2);
  }
  .lgd-row__one-quarter,
  .lgd-row--quarters > * {
    width: calc(25% - var(--spacing));
  }

  .lgd-row__one-third,
  .lgd-row--thirds > * {
    width: calc(33% - var(--spacing));
  }

  .lgd-row__one-half,
  .lgd-row--halves > * {
    width: calc(50% - var(--spacing));
  }

  .lgd-row__two-thirds {
    width: calc((100% / 3 * 2) - var(--spacing));
  }

  .lgd-row__three-quarters {
    width: calc(75% - var(--spacing));
  }

  .lgd-row__full {
    width: calc(100% - var(--spacing));
  }

  /* .lgd-container,
  .lgd-region__inner--banner {
    padding-left: calc(var(--spacing)*4);
    padding-right: calc(var(--spacing)*4);
  } */
}


.special--homepage {
  background: rgb(255,225,70);
  background: linear-gradient(180deg, rgba(255,225,70,0.8) 0%, rgba(255,130,98,0.8) 100%);
  text-align: center;
  padding-top: var(--spacing-larger);
}

.lgd-region--content-bottom .lgd-container {
  padding: 0 !important;
  max-width: 100vw !important;
  margin-top: var(--spacing-larger);
}

.lgd-region--content-bottom .field--name-field-content {
  width: 90%;
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}

.lgd-region--content-bottom .field--name-field-content > * {
  margin-left: var(--spacing-small);
  margin-right: var(--spacing-small);
  margin-bottom: var(--spacing);
}
.lgd-region--content-bottom .field--name-body {
  margin-bottom: var(--spacing-largest);
  width: 90%;
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
}
.lgd-region--content-bottom .field--name-body h2{
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--font-primary);
}

@media screen and (min-width: 48rem) {
  .lgd-region--content-bottom .field--name-field-content {
    display: flex;
    width: 66%;
  }
  .lgd-region--content-bottom .field--name-body {
    width: 66%;
  }
  .lgd-region--content-bottom .field--name-field-content > * {
    margin-bottom: 0;
  }
}
