/*
  Import fonts.
  In the base theme, we have no fonts importing so that the theme is as fast
  as possible, and so we are not loading fonts that are then going to be
  overridden in a subtheme in any case.
  Want a font? Load it here, or in the html.html.twig file (you'll have to
  copy that file to the theme) which should give you an even faster loading time.
*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*
  Override whatever variables you want.
  In the base theme, most item values are set as variables. These variables
  usually reference other variables. For example, we have a certain number of
  colours, font sizes, spacing units, etc. We then create specific variables
  (for example a variable for the color of a link in the header) but these
  specific variables reference our base "root" variables.
  The overrides here give an example of what you might want to change. As you
  can see, you can change as much or as little as you wish.
  Examples:
  - The base font size in the base theme is 16px (1rem). If you want
    all your fonts to be based on a different scale, set `--font-size` variable
    to something else.
  - The base line-height is 1.5 in the base theme. If you want that to be 1.3,
    set --line-height to 1.3. A lot of spacing between items is based on this
    rhythm (1.5rem), so changing to 1.3 will update all across the board.
  - The accent colour in our base theme is purple. If you would like it to be
    hotpink, just set `--color-accent: hotpink;`
*/

body {

  /* Widths and Spacing */
  --width-extra-large: 90rem; /* 1440px */
  --width-large: 60rem;
  --width-medium: 48rem;
  --width-small: 30rem;
  --width-container: calc(var(--width-extra-large) - 100px);
  --width-restricted-width-section: var(--width-medium);
  --spacing-smallest: 0.25rem;
  --spacing-smaller: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing: 1rem;
  --spacing-large: 1.5rem; /*24px*/
  --spacing-larger: 2.34375rem; /*37.5px*/
  --spacing-largest: 3rem; /*48px*/
  --spacing-mega: 4.5rem; /*72px*/
  --spacing-padding-horizontal: 0;
  --line-height: 1.4;
  --vertical-rhythm-spacing: calc(var(--line-height) * 0.75rem);

  /* Colours */
  /*
    Colours Defined
    In this section, we define the colours available in our theme.
    We should not refer to these directly in our CSS however. Instead,
    we use the names at our "Colours Applied" section.
  */
  --color-accent: var(--color-dandilion);
  --color-dandilion: #FFE146;
  --color-sahara: #ffe376;
  --color-seafoam: #96F1C6;
  --color-melrose: #aebffe;
  --color-bittersweet: #ff8262;

  /*
    Grey Scale
    In this section, we define our greys; let's not have 50 shades
  */
  --color-white: #fff;
  --color-grey-light: #e7e7e6;
  --color-grey-medium: #b1b4b6;
  --color-grey-dark: #505a5f;
  --color-black: #0b0c0c;
  /*
    Colours Applied
    In this section, we "apply" our colours.
  */
  --color-link: var(--color-black);

  /* Fonts */
  --font-primary: 'Inter', oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-secondary: 'Lora', "Times New Roman", times, serif;
  /*
    Font sizes based on vertical rhythm of:
    - Font size: 16px;
    - Scale factor: 1.303
    - Details: https://www.gridlover.net/try
  */
  --font-size: 1rem;
  --font-size-small: calc(var(--font-size) * 0.875);
  --font-size-normal: calc(var(--font-size) * 1);
  --font-size-medium: calc(var(--font-size) * 1.0625);/*17px*/
  --font-size-large: calc(var(--font-size) * 1.1875);/*19px*/
  --font-size-largish: calc(var(--font-size) * 1.3125);/*21px*/
  --font-size-larger: calc(var(--font-size) * 1.625);/*26px*/
  --font-size-largest: calc(var(--font-size) * 2.68);
  --font-size-h1: clamp(var(--font-size-largish), 10vw, var(--font-size-larger));
  --font-size-h2: clamp(var(--font-size-largish), 2.5vw, var(--font-size-larger));
  --font-size-h3: clamp(var(--font-size-medium), 2.5vw, var(--font-size-largish));
  --font-size-h4: clamp(var(--font-size-medium), 2.5vw, var(--font-size-large));

  /* Borders */
  --border-color-dark: var(--color-black);
}

/*
  Applying Variables

  By taking this approach of setting variables above, and then applying them here
  to specific items, we can easily override these in sub-themes to change items
  one-by-one without the CSS cascade affecting us (unless we want it to - in that case,
  override the defined variables above instead).
*/
body {

  /* Breadcrumbs */
  --breadcrumbs-background-color: var(--color-white);
  --breadcrumbs-border: 0;
  --breadcrumbs-divider: "/";
  --breadcrumbs-font-size: clamp(var(--font-size-smaller), 2.5vw, var(--font-size-medium));
  --breadcrumbs-padding-vertical: var(--spacing-smaller);
  --breadcrumbs-padding-horizontal: 0;
  --breadcrumbs-link-color: var(--color-black);
  --breadcrumbs-spacing-bottom: clamp(var(--spacing-smaller), 2.5vw, var(--spacing-large));

  /* Header Items */
  --section-spacing-vertical-header: clamp(var(--spacing), 2.5vw, 1.5rem);
  --color-section-header-bg: var(--color-accent);
  --header-link-color: var(--color-black);
  --header-services-button-border: var(--border);
  --header-services-button-border-color: transparent;
  --header-services-button-color: var(--color-black);
  --header-services-button-bg-color: transparent;
  --header-services-button-bg-color-hover: var(--color-accent);
  --header-services-button-color-hover: var(--color-black);
  --header-logo-width: 9.62rem;

  /* Footer Items */
  --color-section-pre-footer-bg: var(--color-bittersweet);
  --color-section-footer-bg: var(--color-white);
  --color-section-post-footer-bg: var(--color-melrose);
  --section-spacing-vertical-pre-footer: var(--spacing-largest);
  --section-spacing-vertical-footer: var(--spacing);
  --section-spacing-vertical-post-footer: var(--spacing-largest);

  /* Button Elements (and button-styled links) */
  --button-padding-vertical: var(--spacing);
  --button-padding-horizontal: var(--spacing);
  --button-text-color: var(--color-black);
  --button-text-color-hover: var(--color-black);
  --button-icon-color: var(--button-text-color);
  --button-icon-color-hover: var(--color-accent);
  --button-border-color: var(--color-accent);
  --button-bg-color: var(--color-accent);
  --button-bg-color-hover: var(--color-white);
  --button-font-family: var(--font-primary);
  --button-border-radius: 0;

  /* Sidebar Items */
  --sidebar-exposed-form-bg-color: var(--color-white);
  --sidebar-exposed-form-padding-vertical: 0;
  --sidebar-exposed-form-padding-horizontal: 0;
  --sidebar-exposed-form-item-spacing: 0;

  /* Fact Box */
  --fact-box-bg-light: var(--color-sahara);
  --fact-box-bg-dark: var(--color-dandilion);
  --fact-box-bg-accent: var(--color-accent);
  --fact-box-padding-vertical: var(--spacing-largest);
  --fact-box-padding-horizontal: var(--spacing-large);
  --fact-box-title: var(--font-size-normal);
  --fact-box-fact: var(--font-size-larger);
  --fact-box-border: 0;
  --fact-box-border-color: var(--color-dandilion);
  --fact-box-red: var(--color-sahara);
  --fact-box-blue: var(--color-bittersweet);
  --fact-box-text-color-accent: var(--color-black);

  /* Image with Caption */
  --image-with-caption-border: var(--border);
  --image-with-caption-border-color: var(--color-black);
  --image-with-caption-padding: var(--spacing) 0 var(--spacing);
  --image-with-caption-bg-color: var(--color-white);

  /* Quote */
  --quote-padding: 0px;
  --quote-padding-left: 0px;
  --quote-bg-color: none;
  --quote-author-color: var(--color-black);

  /* Documents */
  --table-border: 1px solid var(--table-bg-color);
  --table-padding: var(--spacing-small);
  --table-bg-color: var(--color-grey-light);

  /* Links styled like buttons */
  --button-link-color: var(--color-black);
  --button-link-color-hover: var(--color-black);

  /* Call-out Box */
  --call-out-box-text-color: var(--color-black);
