/* Banner Region */
.lgd-region--banner {
  background: rgba(0, 68, 89, 0.8);
  padding-bottom: var(--spacing-large);
  padding-top: var(--spacing-large);
  color: var(--color-white);
  position: relative;
  /*background-image: url(/themes/custom/lgd_org_theme/assets/images/bannerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
  /*background: url(/themes/custom/lgd_org_theme/assets/images/bannerbg.jpg), lightgray 50% / cover no-repeat;
  background:  cover no-repeat var(--color-dark-blue), url(/themes/custom/lgd_org_theme/assets/images/bannerbg.jpg);*/
}

.lgd-region--banner:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(/themes/custom/lgd_org_theme/assets/images/bannerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.lgd-region--banner .lgd-region__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.path-frontpage .lgd-region--banner {
  /*padding-bottom: var(--spacing-larger);*/
}

@media screen and (min-width: 72rem) {
  .lgd-region--banner {
    padding-bottom: var(--spacing-mega);
    padding-top: var(--spacing-mega);
  }
}

/* The slogan block. */

.block-lgd-org-blocks-blocks {
  --line-height: 1.15;
  line-height: var(--line-height);

  font-family: var(--font-secondary);
  font-size: clamp(var(--font-size-largish), 2.5vw, 1.75rem);
  letter-spacing: -1px;
}


@media screen and (min-width: 72rem) {
  .path-frontpage .block-lgd-org-blocks-blocks {
    font-size: 3.125rem;
    margin-bottom: var(--spacing);
    line-height: 1.14;
    max-width: 740px;
  }
}

.block-lgd-org-blocks-blocks-2 {
  --line-height: 1.4;
  line-height: var(--line-height);
  font-size: clamp(var(--font-size-medium), 2.5vw, 2rem);
  font-weight: 500;
  letter-spacing: -0.5px;
  font-family: var(--font-secondary);
  max-width: 40ch;
}



.block-lgd-org-blocks-blocks-3 {
  justify-self: center;
  align-self: center;
}

.lgd-org-big-numbers p {
  margin-bottom: 0;
}


.lgd-org-big-numbers a {
  font-size: clamp(0.875rem, 2vw, 2rem);
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 1;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: var(--spacing);
  border-radius: 100%;
  /*background-color: pink;*/
  text-decoration: none;
  color: white;
  width: clamp(130px, 25vw, 330px);
  height: clamp(130px, 25vw, 330px);
  aspect-ratio: 1 / 1;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lgd-org-big-numbers a:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
  background: transparent;

}

.lgd-org-big-numbers a:focus {
  background: transparent;
  box-shadow: 0;
  outline: 3px solid black;
  outline-offset: 2px;
  color: inherit;

}

.lgd-org-big-numbers .field--name-field-number,
.lgd-org--councils .number {
  font-size: clamp(3.25rem, 10vw, 9.375rem);
  letter-spacing: -3px;
  display: block;
  line-height: 100%;
  font-weight: normal;
}

.lgd-org-big-numbers + .lgd-org-big-numbers {
  margin-left: -5%;
}
