.localgov-directories-venue fieldset,
.localgov-directories-page fieldset {
  border: 1px solid var(--color-grey-medium);
  padding: 0 var(--spacing-large) var(--spacing-large);
}

.page-node-type-localgov-directory .localgov-directory__content > * + * {
  padding-top: var(--spacing-large);
}

.page-node-type-localgov-directory .localgov-directory__content > * + h2 {
  padding-top: var(--spacing-larger);
}


.page-node-type-localgov-directory .views-element-container {
  padding-bottom: var(--spacing-large);
  border-bottom: 1px solid var(--color-grey-medium);
}

@media screen and (min-width: 40rem) {
  .fieldset--connect .fieldset-wrapper{
    display: flex;
    flex-direction: row-reverse;
    gap: var(--spacing-large);
  }

  .fieldset--connect .fieldset-wrapper > span {
    width: calc((100% -  var(--spacing-large)/2));
}


.directory-org--facets * {
  display: inline;
}

.directory-org--facets div + div:before {
  content: ', ';
}
