.key-facts {
  padding: var(--spacing) 0;
  margin-bottom: clamp(var(--spacing), 2.5vw, var(--spacing-larger));
}

.key-facts > h2 {
  background: var(--color-seafoam);
  margin-bottom: 0;
  padding: var(--spacing-small);
  padding-bottom: var(--spacing-large);
  font-family: var(--font-primary);
  font-size: var(--font-size-large);
  font-weight: 700;
}



@media screen and (min-width: 48rem) {
  .key-facts > .field__items{
    column-count: 3;
    gap: 0;
  }
}

.key-facts > .field__items > .field__item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  background: var(--color-seafoam);
  padding: var(--spacing-smaller);
  padding-top: 0;
  font-size: var(--font-size-normal);
}

.key-fact {
  background: var(--color-white);
  padding: var(--spacing-small);
  display: block;
}

.key-fact h3 {
  border-bottom: var(--border-width-large) solid var(--color-seafoam);
  padding-bottom: clamp(var(--spacing-smallest), 2.5vw, var(--spacing-small));
  margin-bottom: clamp(var(--spacing-smallest), 2.5vw, var(--spacing-small));
  font-size: var(--font-size-large);
  font-weight: 700;
}
