.layout__region > .key-facts {
  padding: 0;
  margin-bottom: clamp(var(--spacing), 2.5vw, var(--spacing-larger));
  font-size: 1.1rem;
}

.key-facts > h2 {
  /*background: var(--color-seafoam);
  margin-bottom: 0;
  padding: var(--spacing-small);
  padding-bottom: var(--spacing-large);
  font-family: var(--font-primary);
  font-size: var(--font-size-large);
  font-weight: 700;*/
}

@media screen and (min-width: 48rem) {
  .key-facts > .field__items{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.key-facts > .field__items > .field__item {
  height: 100%;
  border-top: 1px solid var(--color-seafoam);
  background: var(--color-seafoam-lightest);
  padding: var(--spacing-small);
}

.key-fact {

  display: block;
}

.key-fact h3 {
  border-bottom: var(--border-width-large) solid var(--color-seafoam);
  padding-bottom: clamp(var(--spacing-smallest), 2.5vw, var(--spacing-small));
  margin-bottom: clamp(var(--spacing-smallest), 2.5vw, var(--spacing-small));
  font-size: var(--font-size-large);
  font-weight: 700;
}
