.multiple-image-links {
  text-align: center;
  font-size: var(--font-size-h2);
}

.multiple-image-links .field--name-localgov-paragraphs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  flex-wrap: wrap;
  margin-top: var(--spacing-mega);
  gap: 2rem;
  @media screen and (min-width: 50rem) {
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: end;
    /*gap: 0;*/
  }
  > .field__item {
    grid-column: span 2;
    grid-row: span 4;
    max-width: 425px;
  }
  > .field__item:nth-of-type(4) {
    grid-column: 2 / span 2;

  }
    > .field__item:nth-of-type(5),
    > .field__item:nth-of-type(4) {
      position: relative;
      top: -4rem;

  }
}






.multiple-image-links__content--button {
  margin-top: var(--spacing-mega);
}

.image-link a {
  display: block;
  /*max-width: 250px;*/
}

.image-link a:hover {
  /*border: 1px solid black;*/
  /* opacity: 0.8; */
  outline-offset: 9px;
  display: block;
  outline: 2px solid black;
}

.multiple-image-links .image-link a{
  border-radius: 1rem;
    overflow: hidden;
    border: 2px solid #c9c8c8;
    padding-top: 2.5rem;
    background-image: url(../../assets/images/screen-buttons.svg);
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    background-color: white;
    > div {
      border-top: 2px solid #c9c8c8;
    }
}
