.featured-teasers {
  text-align: center;
}

.featured-teasers .field--name-localgov-paragraphs {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--spacing-largest);
  @media screen and (min-width: 50rem) {
    justify-content: center;
    align-items: end;
  }
}

.featured-teasers__teasers > .field__items > .field__item {
  max-width: 20%;
}

.featured-teasers__teasers > .field__items > .field__item + .field__item {
  @media screen and (min-width: 40rem) {
    margin-top: 0;
    margin-left: var(--spacing-largest);
  }
}
