/* Search */
form#views-exposed-form-localgov-news-search-page-search-news,
form#views-exposed-form-localgov-directory-channel-node-embed-in-a-search-block {
  margin-bottom: var(--spacing-large);
  /*width: 80%;*/
  font-weight: 600;
  display: flex;
  align-items: flex-end;
}
#views-exposed-form-localgov-directory-channel-node-embed-in-a-search-block input,
#views-exposed-form-localgov-news-search-page-search-news input {
  font-weight: 600;
  font-size: var(--font-size-normal);
}
#views-exposed-form-localgov-directory-channel-node-embed-in-a-search-block .form-submit,
#views-exposed-form-localgov-news-search-page-search-news .form-submit {
  margin-bottom: var(--spacing);
}

.facets-widget h3 {
  font-size: var(--font-size-medium);
  margin-bottom: var(--spacing-small);
}
.facet-item {
  font-size: var(--font-size-normal);
}

.sidebar--first {
  margin-bottom: var(--spacing-largest);
}

.js input.form-autocomplete {
  background-position: 98% center;
}

/*Mailchimp*/
#mc_embed_signup .indicates-required {
  font-size: var(--font-size-small);
  margin-bottom: var(--spacing);
}

.mc-field-group {
  margin-bottom: var(--spacing);

}


.webform-button--submit,
#mc-embedded-subscribe {
  font-size: var(--font-size-medium);
}

.response {
  color: white;
  padding: 1rem;
  background-color: green;
  margin-bottom: var(--spacing);
}

/*Webform*/
.block-webform {
  margin-bottom: var(--spacing-largest);
}


.webform-multiple-add {
  display: flex;
  /*justify-content: end;*/
  align-items: start;
  padding-top: var(--spacing);
  font-size: var(--font-size-small);
}

.webform-multiple-add input,
button.tabledrag-toggle-weight {
  font-size: var(--font-size-small);
  background-color: var(--color_white);
}

a.tabledrag-handle .handle {
  height: 25px;
}

input.button--primary {
  background-color: var(--color-accent);
  font-weight: 600;
  font-size: var(--font-size-large);
}

