.lgd-image {
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
}


.lgd-image--has-caption {
  border: 0;
  border-bottom: var(--image-with-caption-border);
  border-color: var(--image-with-caption-border-color);
  margin-bottom: clamp(var(--spacing-large), 2.5vw, var(--spacing-largest));
}

.field--name-localgov-caption {
 font-size: var(--font-size-small);
 color: var(--color-purple);
 /*padding-top: var(--spacing);*/
}
