

.media-with-text {
  --button-bg-color: var(--color-bittersweet);
  text-align: center;
  font-size: clamp(var(--font-size-medium), 2.5vw, var(--font-size-larger));
}

.media-with-text--media-left .media-with-text__inner,
.media-with-text--media-right .media-with-text__inner {
  align-items: center;
}

.media-with-text .field--name-field-links {
  display: inline-flex;
  gap: var(--spacing);
}

.media-with-text h2 {
  font-weight: 700;
}


@media screen and (min-width: 24rem) {
  .media-with-text--media-right .media-with-text__inner,
  .media-with-text--media-left .media-with-text__inner{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr ;
  }
  .media-with-text--media-left > *:last-child {
    padding-top: 0;
  }
}

.lgd-row__two-thirds {
  @media screen and (min-width: 48rem) and (max-width: 60rem) {
    .media-with-text--media-right .media-with-text__inner,
    .media-with-text--media-left .media-with-text__inner{
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr ;
    }
  }
}

@media screen and (min-width: 60rem) {
  .media-with-text--media-right .media-with-text__inner,
  .media-with-text--media-left .media-with-text__inner{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .media-with-text--media-right .media-with-text__inner {
    grid-template-columns: 2fr 1fr;
  }
  .media-with-text--media-left .media-with-text__inner {
    grid-template-columns: 1fr 2fr;
  }
  .media-with-text--media-left > *:last-child {
    padding-top: 0;
  }
}

.media-with-text .button-style-link {
  margin-top: var(--spacing-larger);
}

.media-with-text--featured {
  --button-bg-color: var(--color-purple-lightest);
  text-align: start;
  border: 1px solid purple;
  background-color: white;
  padding: 2rem;
  border-radius: 30px;
}

.media-with-text--featured .button-style-link a.media-with-text__link {
  margin-left: unset;
}


.media-with-text--background-1 .media-with-text__body,
.media-with-text--featured .media-with-text__body {
  font-size: 1.2rem;
  padding: 0;
}

.media-with-text--featured .media-with-text__media {
  margin: 0;
}

.media-with-text--background-1 .media-with-text__media {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;

}

.media-with-text--background-1.media-with-text--media-left .media-with-text__media,
.media-with-text--background-1.media-with-text--media-right .media-with-text__media{
  bottom: 4rem;
  margin-left: 2rem;
  height: calc(100% - 2rem);
  align-self: end;
  z-index: 1;
  * {
    height: 100%;
    object-fit: cover;
  }
}

.media-with-text--background-1 {
  margin-top: 3rem;
   text-align: start;
   position: relative;
   font-size: var(--font-size-largish);
}

.media-with-text--background-1 .media-with-text__body {
      background: var(--color-bittersweet-lightest);
    position: relative;
    padding: 2rem;
    padding-left: 0;
    display: block;
    border-radius: 0 2rem 2rem 0;
}

.media-with-text--background-1 .media-with-text__body:before {
      content: "";
    display: block;
    width: calc(100% + 2rem);
    height: 100%;
    background: var(--color-bittersweet-lightest);
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 0;
    border-radius: 2rem 0 0 2rem;
}

.media-with-text--background-1.media-with-text--media-left .media-with-text__inner,
.media-with-text--background-1.media-with-text--media-right .media-with-text__inner {
  align-items: start;
  margin-top: 3rem;

}


@media screen and (min-width: 48rem) {
  .media-with-text--background-1.media-with-text--media-right  .media-with-text__inner,
  .media-with-text--background-1.media-with-text--media-left .media-with-text__inner{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.screen-image-style{
  border-radius: 1rem;
    overflow: hidden;
    border: 2px solid var(--color-grey-dark);
    padding-top: 2.5rem;
    background-image: url(../../assets/images/screen-buttons.svg);
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    background-color: white;
    div {
      border-top: 1px solid var(--color-grey-dark);
    }
}
