/*
  @file Theming main menu.
*/

.menu--main > .menu-item a {
  /*padding: 0;*/
  color: var(--color-black);
  @media screen and (min-width: 48rem) {
    /*color: var(--color-black) !important;*/
  }
}

/* Mobile toggle styling  */

.lgd-header__toggle {
  width: 60px;
  height: 60px !important;
  background-size: contain;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.lgd-header__toggle-icon {
  width: 100%;
}

.lgd-header__toggle-icon::after {
  display: block !important;
  margin-top: calc(var(--font-size-larger) * -0.1);
  margin-left: calc(var(--spacing) / 2);
  content: "" !important;
  transition: var(--transition-time);
  transform: none !important;
  font-size: var(--font-size-larger);
  width: 100%;
  height: 15px;
  background: url(../../assets/images/menu-bars.svg) 0 0 no-repeat;
}



/* Utility menu styling */

.menu--utility-menu {
  display: flex;
  /*margin-bottom: 3rem;*/
  padding-left: 0;
  list-style: none;
  justify-content: flex-end;
  font-size: var(--font-size-large);
  font-weight: 500;
  margin-bottom: 0;
}

.menu--utility-menu,
.lgd-region--primary-menu .menu--main  {
  width: 100%;
}

.menu--utility-menu li,
.lgd-region--primary-menu .menu--main li {
  border-bottom: 1px solid var(--color-black);
  padding: var(--spacing-smaller);
  display: block;

}

/* Main menu becomes horizintal at 60rem */

/* Override the base theme to keep the vertical menu until 60rem */


@media screen and (min-width: 60rem) {
  .lgd-region--primary-menu .menu--main > .menu-item a {
    padding: var(--spacing-smallest) var(--spacing-smallest) !important;
  }

  .menu--utility-menu li {
    padding: 10px;
    padding-top: 0;
    border: none;
    font-size: 18px;
  }

  /* Hover and active trail styles */

  .menu--utility-menu > .menu-item--active-trail a,
  .menu--utility-menu > .menu-item a:focus,
  .menu--utility-menu > .menu-item a:hover,
  .lgd-region--primary-menu .menu--main > .menu-item a:hover {
    color: var(--color-black);
    background-color: transparent !important;
    border-bottom: 2px solid var(--color-black) !important;
  }
}



/* Hover and active trail styles */

.menu--utility-menu > .menu-item--active-trail a,
.lgd-region--primary-menu .menu--main > .menu-item--active-trail a {
  font-weight: 600;
}
