.lgd-org--newsletter a{
  display: block;
  border: 1px solid var(--color-black);
  text-decoration: none;
  padding: var(--spacing);
  color: var(--color-black);
}
.lgd-org--newsletter a:hover{
  background-color: var(--color-sahara);
}

.lgd-footer__pre-footer .lgd-org--newsletter a {
  color: var(--color-black);
}

.lgd-footer__pre-footer .lgd-row__one-third {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.lgd-footer__post-footer .lgd-row__one-third:first-of-type {
  width: 50%;
}

.menu--footer li{
  display: inline-block;
}
.menu--footer li a{
  text-decoration: underline;
}
.menu--footer li a:hover{
  font-weight: bold;
}
