.lgd-org--newsletter a{
  display: block;
  border: 1px solid var(--color-black);
  text-decoration: none;
  padding: var(--spacing);
  margin: var(--spacing);
}
.lgd-org--newsletter a:hover{
  background-color: var(--color-sahara);
}

.lgd-footer__pre-footer .lgd-org--newsletter a {
  color: var(--color-black);
  font-size: clamp(var(--font-size-large), 2.5vw, var(--font-size-larger
  ));
  text-align: center;
  font-weight: 500;
}

.lgd-footer__pre-footer .lgd-row__one-third {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.lgd-footer__post-footer{
  text-align: center;
}
@media screen and (min-width: 70rem) {
  .lgd-footer__post-footer .lgd-row__one-third:first-of-type {
    width: 50%;
    text-align: left;
  }
}

.menu--footer li{
  display: inline-block;
}
.menu--footer li a{
  text-decoration: underline;
}
.menu--footer li a:hover{
  font-weight: bold;
}

.layout--threecol-33-34-33 {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 70rem) {
.path-frontpage .layout--twocol > .layout__region--first{
  flex: 0 1 30%;
}
}

.path-frontpage .field--name-localgov-subsites-content > .field__item:first-of-type > .paragraph--type--page-section .layout__region--first p:first-of-type {
  font-family: var(--font-primary);
  font-size: clamp(var(--font-size-medium), 2.5vw, var(--font-size-large));
  font-weight: 500;
}

.path-frontpage .pull-out-quote{
  max-width: 795px;
  margin-right: auto;
  margin-left: auto;
}


/* sidebar */
.region-sidebar-second {
  margin-top: 0;
  margin-bottom: var(--spacing-larger);
}
.region-sidebar-second ul {
  width: 100%;
}
.region-sidebar-second ul li {
  width: 100%;
}

@media screen and (min-width: 70rem) {
  .region-sidebar-second {
    margin-top: 0;
    width: 100%;
    max-width: 14.125rem;
    float: right;
  }
}

.block-localgov-subsite-navigation h2 {
  font-size: clamp(var(--font-size-medium), 2.5vw, var(--font-size-large));
  font-family: var(--font-family-primary);
}
.block-localgov-subsite-navigation > .menu {
  padding-left: 0;
}

.block-localgov-subsite-navigation .menu li {
  display: inline-block;
}

.is-active {
  font-weight: 600;
}

.footer--slogan {
  line-height: 1.15;
  font-size: clamp(var(--font-size-larger), 2.5vw, 2.1875rem );
}


main {
  margin-top: var(--spacing-larger);
  margin-bottom: var(--spacing-larger);
}

.paragraph--type--page-section .layout__region {
  padding-bottom: 0;
}

@media screen and (min-width: 70rem) {
  .branding__item--logo {
    width: 12rem !important;
  }
}


/*Media item with text*/
.media-with-text {
  margin-bottom: var(--spacing);
}
.media-with-text--media-right > *,
.media-with-text--media-left > *{
  width: 50%;
}


/*Partcipating Councisl*/
.block-views-blockcouncil-logos-block-1 h2{
  text-align: center;
  font-weight: normal;
  margin-bottom: var(--spacing-largest);
}
.block-views-blockcouncil-logos-block-1 {
  padding: var(--spacing-large) 0 var(--spacing-largest);
}

.block-views-blockcouncil-logos-block-1 .view-content{
  display: grid;
  gap: var(--spacing);
  grid-template-columns: repeat(3, 1fr);
}

.block-views-blockcouncil-logos-block-1  .views-row {
  display: flex;
}
.block-views-blockcouncil-logos-block-1  .views-row article{
  align-self: center;
  justify-self: center;
  width: 5.5rem;
  margin-inline: auto;
}

@media screen and (min-width: 70rem) {
  .block-views-blockcouncil-logos-block-1 .view-content{
    display: grid;
    gap: var(--spacing-larger);
    grid-template-columns: repeat(5, 1fr);
  }
  .block-views-blockcouncil-logos-block-1  .views-row article{
    width: 8.125rem;
  }
}


/* Search */
form#views-exposed-form-localgov-news-search-page-search-news {
  margin-bottom: var(--spacing-large);
  width: 80%;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
}
#views-exposed-form-localgov-news-search-page-search-news input {
  font-weight: 600;
  font-size: var(--font-size-normal);
}
.facets-widget h3 {
  font-size: var(--font-size-medium);
  margin-bottom: var(--spacing-small);
}
.facet-item {
  font-size: var(--font-size-normal);
}

.sidebar--first {
  margin-bottom: var(--spacing-largest);
}

.js input.form-autocomplete {
  background-position: 98% center;
}
