blockquote {
  --font-size-largish: calc(var(--font-size) * 1.375);
  --font-size-larger: calc(var(--font-size) * 1.5);
  font-family: var(--font-secondary);
  font-size: var(--font-size-larger);
  font-size: clamp(var(--font-size-largish), 2.5vw, var(--font-size-larger));
  margin-inline-start: 0;
}

blockquote > p:first-of-type:before,
.pull-out-quote__content:before {
  content: '';
  background: url("../../assets/images/quoteoutline.svg") no-repeat 0 50% ;
  height: 4rem;
  width: 5rem;
  display: block;
  background-size: 100%;
  margin-inline: auto;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

blockquote > p:first-of-type:before {
  background: url("../../assets/images/quoteoutline.svg") no-repeat 0 50% ;
}

.pull-out-quote {
  --font-size-largish: calc(var(--font-size) * 1.375);
  --font-size-large: calc(var(--font-size) * 1.5);
  --spacing-mega: 4rem;
  margin-right: 0;
  margin-left: 0;
  padding: var(--quote-padding);
  padding-left: var(--quote-padding-left);
  border-color: transparent;
  border-left: 0px;
  background-color: var(--quote-bg-color);
  font-family: var(--font-secondary);
  font-size: clamp(var(--font-size-largish), 8vw, var(--font-size-large));
  margin-top: clamp(var(--spacing), 8vw, var(--spacing-largest));
  margin-bottom: clamp(var(--spacing), 8vw, var(--spacing-mega));
  text-align: center;
  line-height: 1.3;
}

.pull-out-quote__content {
  background-image: url("../../assets/images/speech-invert.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: var(--color-purple-lightest);
  border: 1px solid white;
  object-fit: fill;
}

.pull-out-quote__content div {
  margin-bottom: 8rem;
  margin-inline: 5rem;
}

.pull-out-quote__author {
  margin-top: 0.5rem;
  color: var(--quote-author-color);
  font-weight: normal;
  font-size: var(--font-size-medium);
  font-family: var(--font-primary);
      display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.pull-out-quote__author .field--name-field-author-image {
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  display: inline-flex;
}

.quote-style--purple .pull-out-quote__content{
  background-color: var(--color-purple-lightest);
}
.quote-style--green .pull-out-quote__content{
  background-color: var(--color-seafoam-lightest);
}
.quote-style--yellow .pull-out-quote__content{
  background-color: var(--color-sahara);
}
.quote-style--blue .pull-out-quote__content{
  background-color: var(--color-skyblue-lightest);
}
.quote-style--orange .pull-out-quote__content{
  background-color: var(--color-bittersweet-lightest);
}
/*.quote-style--white .pull-out-quote__content{
  background-color: var(--color-orange-lightest);
}*/


.lgd-page-section--has-bg-colour .pull-out-quote__content {
  background-image: url("../../assets/images/speechbubble.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid transparent;
  object-fit: fill;
}

