.pull-out-quote {
  margin-right: 0;
  margin-left: 0;
  padding: var(--quote-padding);
  padding-left: var(--quote-padding-left);
  border-color: transparent;
  border-left: 0px;
  background-color: var(--quote-bg-color);
  font-family: var(--font-secondary);
  font-size: clamp(var(--font-size-largish), 2.5vw, var(--font-size-large));
  margin-top: clamp(var(--spacing), 2vw, var(--spacing-largest));
  margin-bottom: clamp(var(--spacing), 2.5vw, var(--spacing-largest));
}

.pull-out-quote__content {
  margin: 0;
}
@media screen and (min-width: 70rem) {
  blockquote {
    width: 60%;
  }
  .pull-out-quote blockquote {
    width: 100%;
  }
}

.pull-out-quote__author {
  margin-top: var(--vertical-rhythm-spacing);
  color: var(--quote-author-color);
  font-weight: normal;
  font-size: var(--font-size-medium);
  font-family: var(--font-primary);
}

.pull-out-quote__author:before{
  content: '';
  background: url("../../assets/images/speech.svg") no-repeat 0 50% ;
  height: 70px;
  width: 100%;
  display: block;
  background-size: contain;
  margin-bottom: var(--spacing-small);
}


blockquote {
  font-family: var(--font-secondary);
  font-size: var(--font-size-larger);
  font-size: clamp(var(--font-size-largish), 2.5vw, var(--font-size-larger));
  margin-inline-start: 0;
}

blockquote > p:first-of-type:before,
.pull-out-quote__content:before {
  content: '';
  background: url("../../assets/images/quote.svg") no-repeat 0 50% ;
  height: 24px;
  width: 31px;
  display: inline-block;
  background-size: contain;
  margin-right: var(--spacing);
}

.pull-out-quote__content:before {
  height: 50px;
  width: 36px;
  display: block;
}


.path-frontpage .pull-out-quote__author:before{
  background: url("../../assets/images/speech-front.svg") no-repeat 0 50% ;
}
.path-frontpage .pull-out-quote {
  text-align: center;
}
.path-frontpage blockquote > p:first-of-type:before,
.pull-out-quote__content:before{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
