.block-localgov-subsite-navigation .menu li {
  display: inline-block;
  font-size: var(--font-size-large);
  line-height: 1.4;
  margin-bottom: var(--spacing-smaller);
}

.block-localgov-subsite-navigation .menu li a {
  display: inline-block;
}

.block-localgov-subsite-navigation .menu {
  padding-left: 0;
}

.block-localgov-subsite-navigation > .menu {
  text-align: center;
  padding: 2rem 0 1rem;
}

@media screen and (min-width: 48rem) {
  .block-localgov-subsite-navigation .menu {
    text-align: left;
    padding: 0;
  }
  .block-localgov-subsite-navigation > .menu > li > a {
    margin-bottom: var(--spacing-large);
  }
}

.block-localgov-subsite-navigation > .menu > li {
  margin-bottom: var(--spacing);
  display: block;
}


.block-localgov-subsite-navigation > .menu > li > a:hover {
  text-decoration: underline;
}

.block-localgov-subsite-navigation > .menu li .menu-item--active-trail,
.is-active {
  font-weight: 600;
}
