.callout.callout-primary {
  color: var(--color-black);
}

.field--name-localgov-subsites-content > .field__item:first-of-type > .paragraph--type--localgov-text p:first-of-type,
.field--name-localgov-subsites-content > .field__item:first-of-type > .paragraph--type--page-section .layout__region--first p:first-of-type {
  font-family: var(--font-secondary);
  font-size: clamp(1.5rem, 2.5vw, var(--font-size-larger));
}

pre {
  font-family: monospace;
  background-color: #f1f1f1;
  padding: var(--spacing);
  display: inline-block;
  width: 100%;
  overflow-x: scroll;
}

code {
  font-family: monospace;
  background-color: #f1f1f1;
  padding: 2px;
}


.lgd-page-title-block p:first-of-type{
  font-family: var(--font-secondary);
  font-size: clamp(1.5rem,2.5vw,var(--font-size-larger));
}

.lgd-page-title-block {
  max-width: var(--page-title-width);
}
