<div class="lgd-org-funded-by">
<a href="https://www.gov.uk/government/organisations/department-for-levelling-up-housing-and-communities">
  <img src="/modules/custom/lgd_org_blocks/assets/dluhc.svg" alt="Department for Levelling Up, Housing and Communities">
</a>
  <a href="https://www.localdigital.gov.uk/fund/">
  <img src="/modules/custom/lgd_org_blocks/assets/localdigitalfund.svg" alt="Funded by Local Digital">
  </a>
</div>
