<div class="lgd-org--newsletter button-style-link">
<a href="http://eepurl.com/hGCcEn" target="_blank" class="lgd-org--newsletter_link">{{ content }}<span class="sr-only">{{'(Opens a new tab)'|t}}</span></a>
</div>
