{#
  This template is using the new paragraph--localgov-page-section.html.twig
  template. This is so that when things like `width` are not set, our
  default .lgd-container class and other classes will be applied, to stop
  paragraphs from bleeding to the full width of the screen.
#}

{% if not localgov_base_remove_css %}
  {{ attach_library('localgov_base/page-sections') }}
{% endif %}


{%
  set classes = [
    'lgd-page-section',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
    <div class="">
      {{ content }}
    </div>
</div>
